<div id="about">
    <h2>{{header}}</h2>
    <p>Meccano.io uses the Meccano system, which is developed by the distributed group at Qatar Computing Research Institute, to manage users' pod. Meccano is an RDF-based system for managing user's data and interconnecting it with other users' data through LDP and SPARQL. User's data is represented as an RDF graph. Meccano supports access control lists (ACLs), live updates, and SPARQL link following.</p>
    <p>This project is led by Dr. Ashraf Aboulnaga, Dr. Essam Mansour, and Maged Zereba.</p>
</div>
