<div id="applications">
    <h2>{{header}}</h2>
    <p>
	    <table width='100%;' cellspacing='0' cellpadding='2'>
			<tbody>				
				<tr>
					<td colspan="4"><font style="font-weight:bold;">Account Management</font><hr style="margin-top: 5px;margin-bottom: 5px;"></td>
				</tr>
				<tr>
					<td align='left' style="width: 60px"><a href="http://mzereba.github.io/application-manager" target="_blank"><img src="images/icons/application-manager.png" alt="Application Manager" style="width:60px;"></a></td>
					<td align='left'><a href="http://mzereba.github.io/application-manager" target="_blank">Application Manager</a><br>Manager for application settings</td>
					
					<td align='left' style="width: 60px"><a href="https://linkeddata.github.io/warp" target="_blank"><img src="images/icons/warp.png" alt="Warp" style="width:60px;"></a></td>
					<td align='left'><a href="https://linkeddata.github.io/warp" target="_blank">Warp</a><br>File manager application</td>
				</tr>
				
				<tr><td colspan="4" style="height: 20px"><br></td></tr>
	
				<tr>
					<td colspan="4"><font style="font-weight:bold;">Utility</font><hr style="margin-top: 5px;margin-bottom: 5px;"></td>
				</tr>
				<tr>
					<td align='left' style="width: 60px"><a href="http://linkeddata.github.io/profile-editor" target="_blank"><img src="images/icons/profile-editor.png" alt="Profile Editor" style="width:60px;"></a></td>
					<td align='left'><a href="http://linkeddata.github.io/profile-editor" target="_blank">Profile Editor</a><br>Editor for user profile</td>
					
					<td align='left' style="width: 60px"><a href="http://mzereba.github.io/contacts" target="_blank"><img src="images/icons/contacts.png" alt="Contacts" style="width:60px;"></a></td>
					<td align='left'><a href="http://mzereba.github.io/contacts" target="_blank">Contacts</a><br>vCard manager application</td>
					
				</tr>
				<tr>
					<td align='left' style="width: 60px"><a href="http://mzereba.github.io/calendar" target="_blank"><img src="images/icons/calendar.png" alt="Calendar" style="width:60px;"></a></td>
					<td align='left'><a href="http://mzereba.github.io/calendar" target="_blank">Calendar</a><br>Event manager application</td>
					
					<td align='left' style="width: 60px"><a href="http://mzereba.github.io/todo" target="_blank"><img src="images/icons/todos.png" alt="Todos" style="width:60px;"></a></td>
					<td align='left'><a href="http://mzereba.github.io/todo" target="_blank">Todos</a><br>To-do manager application</td>
					
				</tr>
				<tr>
					<td align='left' style="width: 60px"><a href="http://mzereba.github.io/scheduler" target="_blank"><img src="images/icons/scheduler.png" alt="Scheduler" style="width:60px;"></a></td>
					<td align='left'><a href="http://mzereba.github.io/scheduler" target="_blank">Scheduler</a><br>Scheduling event application</td>
					
				</tr>
				
				<tr><td colspan="4" style="height: 20px"><br></td></tr>
				
				<tr>
					<td colspan="4"><font style="font-weight:bold;">Social</font><hr style="margin-top: 5px;margin-bottom: 5px;"></td>
				</tr>
				<tr>
					<td align='left' style="width: 60px"><a href="http://www.cimba.co" target="_blank"><img src="images/icons/cimba.png" alt="Cimba" style="width:60px;"></a></td>
					<td align='left'><a href="http://www.cimba.co" target="_blank">Cimba</a><br>Client-integrated micro blogging application</td>
						
				</tr>
			</tbody>
		</table>
	</p>
</div>

<p style="margin-top: 2em;">You don't have a WEBID account? <a href="#/signup">Click here to signup</a></p>