<style>

.login{
	*padding: 10px;
	z-index: 2;
}

.login input[type=text]{
	width: 99%;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 1px;
	color: #777777;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #FFFFFF;
    background-image: none;
    color: #777777;
}

.login input[type=password]{
	width: 99%;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(255,255,255,0.6);
	border-radius: 1px;
	color: #777777;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=submit], input[type=button]{
	width: 100%;
	height: 35px;
	background: rgba(82, 168, 236, 0.8);
    border: 1px solid rgba(82, 168, 236, 0.0);
	cursor: pointer;
	border-radius: 4px;
	color: white;
	font-family: 'Exo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	/*margin-top: 10px;*/
}

.login input[type=submit]:hover{
	opacity: 0.8;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=submit]:active{
	opacity: 0.6;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=submit]:focus{
	outline: none;
}

.login input[type=button]:focus{
	outline: none;
}

input::-webkit-input-placeholder{
   color: #d4d4d4;
}

input::-moz-input-placeholder{
   color: #d4d4d4;
}

input:-moz-input-placeholder{
   color: #d4d4d4;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #d4d4d4;
}

.domain {
	float:left;
	line-height: 35px;
	color: #777777;
	*font-weight: bold;
	font-size: 16px;
}

.login-box {
	border: 0px solid #d4d4d4;
	width: 50%;
	padding: 30px;
	border-radius: 6px;
	box-shadow: 1px 1px 20px 2px #d4d4d4;
	min-height:40px; /*min height of DIV should be set to at least 2x the width of the arrow*/
	background: white;
	color:white;
	position:relative;
	word-wrap:break-word;
	margin-bottom:2em;
	margin-left: 9em;
}

.login-box:after {
	content:'';
	display:white;
	position:absolute;
	top:-20px; /*should be set to -border-width x 2 */
	left:30px;
	width:0;
	height:0;
	border-color: transparent transparent white transparent; /*border color should be same as div div background color*/
	border-style: solid;
	border-width: 10px;
}

.dropdown-box {
	display: inline-block;
	margin-top: 5px;
	width: 100%;
}

.message {
    float: right;
    color: red;
    line-height: 35px;
}

.comfirmation {
    float: right;
    color: #5cb85c;
    line-height: 35px;
}

.loading {
    float: right;
    color: #777777;
    line-height: 35px;
}
</style>

<h2>Login | Signup</h2>
<div class="login" align="left" ng-controller="SignupController">
	<div class="login-box">
		<form name="signupForm" id="signupForm" method="POST" action="{{actionUrl}}">
			<input type="text" placeholder="Account name" name="username" ng-model="account.username" ng-focus="isFocused" ng-blur="isFocused = false"><br>
			<input type="text" placeholder="Full name" name="name" ng-model="account.name"><br>
			<input type="text" placeholder="Email" name="email" ng-model="email"><br>
			<input type="text" placeholder="Picture URL" name="pictureURL" ng-model="account.pictureURL"><br>
			<keygen id="spkac" name="spkac" challenge="randomchars" keyparams="2048" keytype="rsa" form="signupForm" hidden>
			<div class="dropdown-box">
				<p class="domain">Domain:</p>
				<select name="domain" ng-model="account.domain" ng-options="domain for domain in domains"></select>
				<p class="message" ng-show="error"><i class="fa fa-exclamation-triangle"></i>&nbsp;Account name already taken</p>
				<p class="comfirmation" ng-show="comfirm"><i class="fa fa-check"></i>&nbsp;Account name available</p>
				<p class="loading" ng-show="showLoading"><i class="fa fa-spinner fa-spin fa-lg"></i></p>
			</div><br>
			<input type="button" id="btnSubmit" value="Check if account name exists" ng-hide="submitForm" ng-click="check()">
			<input type="submit" id="btnSubmit" value="Submit" ng-show="submitForm" ng-click="submit()">
		</form>
	</div>
</div>

<p style="margin-left: 9em;">Already have a WEBID? <a href="#/login">Click here to login</a></p>