<div id="store">
    <h2>{{header}}</h2>
    <p>
	    <table class='bordered' width='100%;' cellspacing='0' cellpadding='2'>
			<tbody>
				<tr>
					<td width="100px" align='left' style='font-size: 14px;border-bottom: 2px solid #F0F0F0;'><a href="http://www.cimba.co" target="_blank">Cimba</a></td>
					<td align='left' style='font-size: 14px;color:#00000; border-bottom: 2px solid #F0F0F0;'>Client-integrated micro blogging application</td>
				</tr>
				<tr>
					<td width="100px" align='left' style='font-size: 14px;border-bottom: 2px solid #F0F0F0;'><a href="https://linkeddata.github.io/warp" target="_blank">Warp</a></td>
					<td align='left' style='font-size: 14px;color:#00000; border-bottom: 2px solid #F0F0F0;'>File manager application</td>
				</tr>
				<tr>
					<td width="100px" align='left' style='font-size: 14px;border-bottom: 2px solid #F0F0F0'><a href="http://mzereba.github.io/Contacts" target="_blank">Contacts</a></td>
					<td align='left' style='font-size: 14px;color:#00000; border-bottom: 2px solid #F0F0F0'>Contact manager application</td>
				</tr>
				<tr>
					<td width="100px" align='left' style='font-size: 14px;border-bottom: 2px solid #F0F0F0'><a href="http://mzereba.github.io/todo" target="_blank">Todos</a></td>
					<td align='left' style='font-size: 14px;color:#00000; border-bottom: 2px solid #F0F0F0'>To-do manager application</td>
				</tr>
				<tr>
					<td width="100px" align='left' style='font-size: 14px;border-bottom: 2px solid #F0F0F0'><a href="http://mzereba.github.io/application_manager" target="_blank">Application Manager</a></td>
					<td align='left' style='font-size: 14px;color:#00000; border-bottom: 2px solid #F0F0F0'>Manager for application settings</td>
				</tr>
				<tr>
					<td width="200px" align='left' style='font-size: 14px;'><a href="http://mzereba.github.io/calendar" target="_blank">Calendar</a></td>
					<td align='left' style='font-size: 14px;color:#00000;'>Event manager application</td>
				</tr>
			</tbody>
		</table>
	</p>
</div>