<div id="index">
    <h2>{{header}}</h2>
    <p>Meccano.io is a linked data hosting service operated by the distributed group at Qatar Computing Research Institute (QCRI).</p>
	<p>Meccano.io offers each user an online storage space that is called a personal online datastore (pod).</p>
	<p>Pods are Web-accessible storage services, where people can control their own data and still make it available to the people they interact with. User's data placed in the user's pod is also accessible via URIs, whose domain is {username}.meccano.io.</p>
	<p>In Pods, LDP is used to organise data into containers that group together resources, giving each container and resource their own URI. Meccano.io offers users a free account with a set storage size. This service is specially provided for developers, who are interested in developing Crosscloud applications.</p>
</div>